body{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    background-color: #31244A;
    color: #AFA8BA;
}

.image-section{
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: "Redressed", sans-serif ;
    font-size: 25px;
    margin-left: 50px;
}


ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    padding-right: 10px;
    
}

li{
    margin: 10px;
    font-family: "Redressed";
    font-size: 20px;
}

.logo {
    height: 40px;
    width: 40px;
    margin-left: 30px;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section-1{
    display: flex;
    background-color: #B5A3D2;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.first-section-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    color: #31244A;
    font-family: "Roboto";

}
h1{
    margin-bottom: 5px;
}

button{
    width: 100px;
    background-color: #FEF6FF;
    border-radius: 4px;
    border: none;
    padding: 5px;
    margin-top: 10px;
} 


.leo-image{
    height: 220px;
    width:  170px;
    border-radius: 20%;
    
}

.leo-examples{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.section-2 h2 {
    color: #31244A;
    font-family: "Roboto";

}
figure{
    text-align: center;
}
figcaption{
    margin-top: 10px;
    font-family: "Roboto";
    color: #31244A;
}

img{ 
    width: 150px;
    height: auto;
    border: 2px solid #31244A;
    border-radius: 20%;
 }

 .section-3, .section-4
 {
    
    height: 200px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.section-3{
    background-color:#FEF6FF ;
}
.quote{
    width: 60%;
    font-size: 30px;
    font-family: "Redressed", sans-serif;
    color: #31244A; 
}
blockquote{
    text-align: center;
    font-weight: 400;
}
.author{
    font-size: 20px;
    text-align: right;
    font-style: italic;
    font-weight: 900;
}
.mailing-list{
    width: 70%;
    height: 50%;
    background-color: #B5A3D2;
    color: #31244A;
    font-family: "Roboto";
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mailing-title{ 
    text-emphasis: bold;
    font-size: 25px;

}
footer{
    height: 80px;
    background-color: #31244A;
    color: #AFA8BA;
    font-family: "Redressed", sans-serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


