body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
}

.image-section{
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: "Redressed", sans-serif ;
    font-size: 25px;
    margin-left: 50px;
}


ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    padding-right: 10px;
    
}

li{
    margin: 10px;
    font-family: "Redressed";
    font-size: 20px;
}

img {
    height: 40px;
    width: 40px;
    margin-left: 30px;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.leo-image{
    height: 320px;
    width:  270px;
}